@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '/fa-webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@font-face {
  font-family: 'Deciso';
  font-weight: bold;
  src: url('/Deciso-Bold.otf');
}

.dh-box {
  @apply bg-neutral-200/90 dark:bg-neutral-600/90 rounded p-6;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);

  label {
    font-weight: normal;
    text-transform: none;
    margin-bottom: .25em;
  }

  a {
    @apply text-black dark:text-neutral-200;
  }
}

.dh-input {
  @apply block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6 dark:bg-neutral-800/50 dark:placeholder:text-neutral-400 dark:text-neutral-200;
}

.dh-btn {
  @apply rounded px-2 py-1 bg-accent text-white hover:bg-gray-500 #{!important};
  cursor: pointer;
}

.plain-btn {
  @apply rounded px-2 py-1 bg-gray-300 text-black hover:bg-gray-500;
  cursor: pointer;
}

.dh-check {
  @apply h-4 w-4 rounded border-gray-300 text-accent bg-gray-100 border-gray-300 rounded focus:ring-accent focus:ring-2 disabled:text-gray-300 disabled:bg-gray-300 dark:disabled:bg-neutral-500 dark:bg-neutral-300;
}

.dh-err {
  @apply text-red-600 dark:text-red-400;
}

.dh-login {
  .dh-box {
    @apply xl:p-8;
  }

  .dh-btn {
    @apply xl:px-3 xl:py-2 #{!important};
  }

  .dh-input {
    @apply xl:text-lg xl:min-w-[15em];
  }

  label {
    @apply xl:text-lg;
  }
}

body {
  @apply bg-accent dark:text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h3,
label {
  display: block;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 6px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center,
.align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.rocket {
  position: fixed;
  bottom: -5em;
  right: 0;
  z-index: -1;
  height: 50vh;

  @apply hidden md:block;
}

#lyra {
  width: 245.136px;
  height: 80%;
  flex-shrink: 0;
  position: fixed;
  left: -50px;
  bottom: -40%;
  z-index: -1;
  @apply hidden xl:block;
}

#lyra2 {
  @extend #lyra;
  filter: blur(15px);
}

#orion {
  width: 246.372px;
  height: 80%;
  transform: rotate(30deg);
  flex-shrink: 0;
  position: fixed;
  left: -30px;
  bottom: 30%;
  z-index: -1;
  @apply hidden xl:block;
}

#orion2 {
  @extend #orion;
  filter: blur(15px);
}
