@tailwind base;
@tailwind components;
@tailwind utilities;

$fa-font-path: '/fa-webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@font-face {
  font-family: 'Deciso';
  font-weight: bold;
  src: url('/Deciso-Bold.otf');
}

.dh-box {
  @apply bg-gray-200/90 drop-shadow-lg dark:bg-neutral-700/90 rounded p-6;

  label {
    font-weight: normal;
    text-transform: none;
    margin-bottom: .25em;
  }

  a {
    @apply text-black dark:text-neutral-200;
  }
}

.dh-input {
  @apply block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accent sm:text-sm sm:leading-6 dark:bg-neutral-800/50 dark:placeholder:text-neutral-400 dark:text-neutral-200;
}

.dh-btn {
  @apply rounded px-2 py-1 bg-accent text-white hover:bg-gray-500 #{!important};
  cursor: pointer;
}

.plain-btn {
  @apply rounded px-2 py-1 bg-gray-300 text-black hover:bg-gray-500;
  cursor: pointer;
}

.dh-check {
  @apply h-4 w-4 rounded border-gray-300 text-accent bg-gray-100 border-gray-300 rounded focus:ring-accent focus:ring-2 disabled:text-gray-300 disabled:bg-gray-300 dark:disabled:bg-neutral-500 dark:bg-neutral-300;
}

.dh-err {
  @apply text-red-600 dark:text-red-400;
}

body {
  @apply dark:bg-neutral-900 dark:text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h3, label {
  display: block;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 6px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center, .align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
