# Exclude everything
/*

# Specific includes

## Monorepo subpackages
!/client
!/server
/client/*
/server/*

## Editorconfig
!.editorconfig

## Package manager
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmignore
!.node-version

## Config files
!*config*.ts
!*config*.mjs
!*config*.cjs
!*config*.js
!*config*.json
!*env.d.ts
!*env.ts
!*rc.json

## Biome.js
!biome.json

## Husky
!.husky

## VSCode
!.vscode

## Changesets
!.changeset

## Markdowns
!*.md
!LICENSE
!licenses

## important Git files
!.gitmodules
!.gitignore
!.gitkeep
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!/.github/

## Sources
!src
!config
!public
!prisma

# Explicit exceptions/ignores
